name: Publish

on:
  push:
    branches:
      - main
      - release
  workflow_dispatch:

concurrency: release

permissions:
  contents: write

jobs:
  ci:
    name: Continuous Integration
    uses: makerxstudio/shared-config/.github/workflows/node-ci.yml@main
    with:
      working-directory: ./src/algokit-client-generator-ts
      run-commit-lint: true
      pre-test-script: |
        pipx install algokit
        algokit localnet start

  build:
    name: Build
    uses: makerxstudio/shared-config/.github/workflows/node-build-zip.yml@main
    needs:
      - ci
    with:
      working-directory: ./src/algokit-client-generator-ts
      build-path: dist
      artifact-name: package

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # semantic-release needs node 18
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Download built package
        uses: actions/download-artifact@v3
        with:
          name: package
          path: artifacts

      - name: Unzip package
        shell: bash
        run: |
          mkdir -p src/algokit-client-generator-ts/dist
          unzip -q "artifacts/package.zip" -d src/algokit-client-generator-ts/dist

      - name: Install dependencies to get semantic release components and plugins
        run: npm ci --ignore-scripts
        working-directory: src/algokit-client-generator-ts

      - name: "Semantic release"
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: src/algokit-client-generator-ts
