name: Publish

on:
  push:
    branches:
      - main
      - release
      - alpha
  workflow_dispatch:

concurrency: release

permissions:
  contents: write

jobs:
  ci:
    name: Continuous Integration
    uses: makerxstudio/shared-config/.github/workflows/node-ci.yml@main
    with:
      node-version: 20.x
      run-commit-lint: true
      audit-script: npm run audit
      pre-test-script: |
        pipx install algokit
        algokit localnet start

  build:
    name: Build
    uses: makerxstudio/shared-config/.github/workflows/node-build-zip.yml@main
    needs:
      - ci
    with:
      node-version: 20.x
      build-path: dist
      artifact-name: package

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Generate bot token
        uses: actions/create-github-app-token@v1
        id: app_token
        with:
          app-id: ${{ secrets.BOT_ID }}
          private-key: ${{ secrets.BOT_SK }}

      - name: Clone repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js 22.x
        uses: actions/setup-node@v3
        with:
          node-version: 22.x

      - name: Download built package
        uses: actions/download-artifact@v4
        with:
          name: package
          path: artifacts

      - name: Unzip package
        shell: bash
        run: |
          mkdir -p dist
          unzip -q "artifacts/package.zip" -d dist

      - name: Install dependencies to get semantic release components and plugins
        run: npm ci --ignore-scripts

      - name: 'Semantic release'
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ steps.app_token.outputs.token }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
